@import url("reset.css");
body {
    background-color: #000;
    color: rgb(60, 170, 239);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: lighter;
}

ul {
  padding-left: 0;
  list-style: none;
}

ul li {
  font-size: 1em;
  width: 100%;
}

li {
  color: #fff;
  padding: .45em .5em;
  margin-bottom: .35em;
  display: flex;
  align-items: center;
}
img {
  max-width: 90%;
}
a[href^="url: 'images/"] {
  max-width: 90%;
}
.perf {
    background-color: blue;
}

.vis {
    background-color: magenta;
}

.write {
    background-color: orange;
}

h1 {
    font-size: 1.5em;
}

.layout {
    max-width: 95%;
    background-color: #000;
    margin: 0 auto;
}

#container {
    padding-left: 3em;
    position: relative;
    margin: 0 auto;
}

body {
    font: 16px Helvetica, sans-serif;
    padding: 20px 30px;
}

#mapMenu,
#artistMenu {
    /* position: absolute; */
    font-size: 2em;
}



.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 1em;
    font-size: 1.5em;
    width: 100%;
    border: none;
    cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
    background-color: #2980B9;
}

#mainMenu li {
    font-size: .75em;
}

#artistMenu {
    max-width: 60em;
}

.sub-menu {
    float: right;
}

.rest {
    background-color: dodgerblue;
}

.sched {
    background-color: rgb(18, 59, 241);
    color: #fff;
}

.child {
    background-color: springgreen;
}

.refresh {
    background-color: yellow;
}

.dropdown-content {
    display: none;
    /* position: absolute; */
    font-size: 3px;
    background-color: #f1f1f1;
    min-width: 30vw;
    overflow: auto;
    /* box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.2); */
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: .25em .25em;
    text-decoration: none;
    display: block;
}

.main-content a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

footer {
    font-size: .65em;
    margin: 4em;
}
h1 {
  margin-bottom: 0;
}
h1 + p {
  font-size: 1.08em;
  color: #637a91;
  margin-top: .5em;
  margin-bottom: 2.65em;
  padding-bottom: 1.325em;
  border-bottom: 1px dotted;
}

li {
  padding: .45em .5em;
  margin-bottom: .35em;
  display: flex;
  align-items: center;
}
input,
button {
  font-size: .85em;
  padding: .65em 1em;
  border-radius: .3em;
  outline: 0;
}
input {
  border: 1px solid #dcdcdc;
  margin-right: 1em;
}
div {
  margin-top: 2.8em;
  padding: 1.5em 0 .5em;
  border-top: 1px dotted #637a91;
}
p.description,
p:nth-of-type(2) {
  font-weight: bold;
}
/* Buttons */
button {
  color: white;
  background: #508abc;
  border: solid 1px;
  border-color: rgba(0, 0, 0, .1);
  cursor: pointer;
}
button + button {
  margin-left: .5em;
}
p + button {
  background: #52bab3;
}
.list button + button {
  background: #768da3;
}
.list li button + button {
  background: #508abc;
}
li button:first-child {
  margin-left: auto;
  background: #52bab3;
}
.list li button:last-child {
  background: #768da3;
}
li button {
  font-size: .75em;
  padding: .5em .65em;
}

/* Added */

/* h1 {
    margin-bottom: 0;
  }
  h1 + p {
    font-size: 1.08em;
    color: #637a91;
    margin-top: .5em;
    margin-bottom: 2.65em;
    padding-bottom: 1.325em;
    border-bottom: 1px dotted;
  }

  input,
  button {
    background: #508abc;
    border: solid 1px;
    border-color: rgba(0, 0, 0, .1);
    cursor: pointer;
  }
  button + button {
    margin-left: .5em;
  }
  p + button {
    background: #52bab3;
  }
  .list button + button {
    background: #768da3;
  }
  .list li button + button {
    background: #508abc;
  }
  li button {
    font-size: .75em;
    padding: .5em .65em;
  }
  input {
    border: 1px solid #dcdcdc;
    margin-right: 1em;
  }
  div {
    margin-top: 2.8em;
    padding: 1.5em 0 .5em;
    border-top: 1px dotted #637a91;
  }
  p.description,
  p:nth-of-type(2) {
    font-weight: bold;
  } */
  /* Buttons */
  /* button {
    color: white;
    background: #508abc;
    border: solid 1px;
    border-color: rgba(0, 0, 0, .1);
    cursor: pointer;
  } */
  /* button + button {
    margin-left: .5em;
  }
  p + button {
    background: #52bab3;
  }
  .list button + button {
    background: #768da3;
  }
  .list li button + button {
    background: #508abc;
  }
  li button:first-child {
    margin-left: auto;
    background: #52bab3;
  }
  .list li button:last-child {
    background: #768da3;
  } */
  /* li button {
    font-size: .75em;
    padding: .5em .65em;
  } */



  /* ______________________________________________________________________________ 
  ________________________________Media queries__________________________________
  ______________________________________________________________________________  */